/* FONTS */
@font-face {
  font-family: BrandonText-Bold;
  src: url(../fonts/Brandon_bld.otf);
}

@font-face {
  font-family: BrandonText-Regular;
  src: url(../fonts/Brandon_reg.otf);
}

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: BrandonText-Bold;
  color: rgb(255,255,255);
}

h1 {
	font-size: 87px;
  margin-bottom: 0;
}

h2 {
  font-size: 36px;
}

h3 {
  margin-top: 0;
}

h4 {

}

h5 {

}

.header {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 50px;
}

::selection {
  background-color: #55595c;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

::-moz-selection {
  background-color: #55595c;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.window {
  width: 100%;
  height: 100%;
  position: absolute;
}

.window:nth-child(1) {
  background: rgb(162,238,138);
  top: 0%;
}

.window:nth-child(2) {
  background: rgb(251,162,87);
  top: 100%;
}

.window:nth-child(3) {
  background: rgb(49,245,206);
  top: 200%;
}

.window:nth-child(4) {
  background: rgb(210,222,96);
  top: 300%;
}

.window:nth-child(5) {
  background: rgb(133,133,133);
  top: 400%;
}

.window:nth-child(6) {
  background: rgb(244,123,106);
  top: 500%;
}

.footer {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 600%;
  background: rgb(211,211,211);
}

.content {
	margin: 0 auto;
}

/* NAVIGATION BAR */
.nav {
	list-style: none;
	position: fixed;
	z-index: 999;
	top: 40%;
}

.nav li {
	margin: 0 0 15px 0;
}

.nav li a {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: solid 2px rgb(255,255,255);
	text-decoration: none;
}

.nav-active {
	background-color: rgb(255,255,255);
}

/* FIRST SLIDE CONTENT */
#small-logo {
  max-width: 13%;
  position: absolute;
  left: 200px;
  top: 20px;
}

#large-logo {
  max-width: 33%;
}

/* SECOND SLIDE CONTENT */
.schedule-header {
  margin-top: 65px;
}

.dates {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 40px;
}

.date-box {
  border: 2px solid rgb(255,255,255);
  width: 175px;
  height: 30px;
  float:left;
  margin-right: 150px;
  vertical-align: middle;
}

.date-box:last-child {
  margin-right: 0px;
}

.date-box:hover {
  cursor: pointer;
}

#friday{
  background: rgb(139,243,159);
}

.left-side {
  float: left;
  margin-left: 8%; 
}

.right-side {
  float: left;
}

.movie-block {
  margin-bottom: 25px;
}

.movie-container {
  display: inline-block;
}

/* START OF INDIVIDUAL MOVIE TITLE ALIGNMENT */
#friday-one {
  margin-right: 490px;
}

#friday-two {
  margin-right: 445px;
}

#friday-three {
  margin-right: 520px;
}

#friday-four {
  margin-right: 485px;
}

#friday-five {
  margin-right: 470px;
}

#friday-six {
  margin-right: 485px;
}

#saturday-one {
  margin-right: 515px;
}

#saturday-two {
  margin-right: 500px;
}

#saturday-three {
  margin-right: 460px;
}

#saturday-four {
  margin-right: 470px;
}

#saturday-five {
  margin-right: 500px;
}

#saturday-six {
  margin-right: 470px;
}

#sunday-one {
  margin-right: 475px;
}

#sunday-two {
  margin-right: 535px;
}

#sunday-three {
  margin-right: 535px;
}

#sunday-four {
  margin-right: 535px;
}

#sunday-five {
  margin-right: 500px;
}

#sunday-six {
  margin-right: 435px;
}

#sunday-seven {
  margin-right: 470px;
}

#sunday-eight {
  margin-right: 330px;
}

/* END OF INDIVIDUAL MOVIE TITLE ALIGNMENT */

.movie-time {
  margin-right: 50px;
  float: left;
}

.movie-title {
  float: left;
  font-size: 20px;
  text-align: left;
}

.movie-director {
  font-size: 14px;
}

.movie-description {
  width: 525px;
  margin: 0 auto;
  padding-right: 73px;
  word-wrap: break-word;
  text-align: left;
}

/* THIRD SLIDE CONTENT */

/* FOURTH SLIDE CONTENT */
.map {

}

/* FIFTH SLIDE CONTENT */

/* SIXTH SLIDE CONTENT */
#contact_link {
  text-decoration: none;
  color: rgb(162,238,138);
}

.contact {
  text-align: left;
  
}

/* FOOTER CONTENT */
.footer-container {
  display: inline-block;
}

.footer-container img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  float: left;
  margin-right: 50px;
}

.footer-container img:last-child {
  margin-right: 0px;
}

.footer-container img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}